@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.App {
  color: black;
  font-family: Poppins;
  background-color: rgb(1 22 73);
  justify-content: center;
  text-align: center; 
}

a{
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5%;

  @media (max-width: 1120px) {
      flex-direction: column;
  }
}

p{
  font-size: 14px;
}